h2, h3, h4 {
  color: #fbfbfb;
}

p, .p, span {
  color: #BEBDBF;
}

.p:hover {
  color: #fff;
}

.outer-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow-x: scroll;
  overflow-y: hidden;
}

.inner-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-group .form-control {
  width: 80%;
}

.form-group img {
  width: 40px;
  margin-left: 6px;
}

.titleCon {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mainTitle {
  color: #c5c4e4;
  text-align: left;
  margin-left: 10px;
  margin-bottom: 8px;
}

.card {
  width: 8rem;
  min-height: 16rem;
  padding: 4px;
  background-color: #042a34;
}

.bgImg {
  position: absolute;
  top: 0;
  left: 0;
  height: 28vh;
  width: 100%;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 110%;
  -webkit-box-shadow: 0 0 15px 10px rgba(20, 112, 137, 0.3);
          box-shadow: 0 0 15px 10px rgba(20, 112, 137, 0.3);
}

@media (min-width: 540px) {
  .bgImg {
    height: 44vh;
  }
}

.img {
  min-height: 75%;
  width: 100%;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.imgCon {
  width: 12rem;
  height: 16rem;
}

.imgCon .img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 12rem;
  height: 16rem;
}

.overview {
  color: #fbfbfb;
  margin-top: 1rem;
}

@media (min-width: 540px) {
  .overview {
    margin-top: 1.6rem;
  }
}

.tBrief {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}

.textInfo {
  -ms-flex-item-align: start;
      align-self: flex-start;
  text-align: left;
  padding: 0 8px;
  margin-right: 12px;
  margin-top: 2.5rem;
}

.arrowIcon {
  margin: 0 8px;
}

.arrowIcon img {
  width: 3rem;
}

.card.main h4 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 4px;
}

.card.main.list {
  width: 50%;
  min-height: 18.5rem;
  margin-bottom: .5rem;
}

.card.main.list .img {
  min-height: 85%;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .card.main.list {
    width: 33.333333333%;
  }
}

.card.today {
  width: 70%;
  min-height: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-flow: column-reverse wrap;
          flex-flow: column-reverse wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 8px;
}

.card.search {
  width: 100%;
}

.card.search a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.infoCon {
  padding: 0 1rem;
  text-align: left;
  padding-top: 10rem;
}

.infoCon .original_title {
  color: #d1d1d1;
  text-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.8);
}

.infoCon .title {
  font-size: 1.8rem;
  text-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.8);
}

.infoCon .mainTitle {
  margin-left: 0;
}

.infoCon .vote {
  width: 100%;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 44px;
  height: 44px;
  background-image: url("@/assets/img/circle.png");
  margin: 0 8px;
}

.infoCon .vote span {
  font-size: 1.2rem;
  color: #6C748C;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.infoCon .type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.infoCon .type p {
  margin-right: 4px;
}

.infoCon .timeDetail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.infoCon .timeDetail p {
  margin-right: .5rem;
}

.infoCon .tagline {
  font-style: italic;
}

.mask {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
}

.popupBox {
  width: 100%;
  position: fixed;
  left: 0;
  top: 20%;
  z-index: 999;
}

.popupBox .modal {
  /* width: 8rem; */
  min-height: 8rem;
  padding: 4px;
  background-color: #042a34;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=movie.css.map */