//顏色定義
$bg: #042a34;
$black: #012326;
$darkpurple: #6C748C;
$purple: #c5c4e4;
$gray: #BEBDBF;

//mixin
@mixin imginit{
  width: 100%;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

//字型設定
h2,h3,h4{
  color:#fbfbfb;
}
p,.p,span{
  color: $gray;
}
.p:hover{
  color: #fff;
}

// componemt
.outer-row{
  display: flex;
  flex-wrap: wrap;
  overflow-x: scroll;
  overflow-y: hidden;
  // &::-webkit-scrollbar{
  //   display: none;
  // }
}
.inner-row{
  display: flex;
  
  // overflow-x: scroll;
}

.form-group{
  display: flex;
  justify-content: center;
  .form-control{
    width: 80%;
  }
  img{
    width: 40px;
    margin-left: 6px;
  }
}

.titleCon{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.mainTitle{
  color: $purple;
  text-align: left;
  margin-left: 10px;
  margin-bottom: 8px;
}

.card{
  width: 180px;
  min-height: 320px;
  padding: 4px;
  background-color: $bg;
}

.bgImg{
  position: absolute;
  top: 0;
  left: 0;
  height: 28vh;
  @include imginit;
  background-size: 110%;
}
.img{
  min-height: 84%;
  @include imginit;
}
.imgCon{
  width: 12rem;
  height: 16rem;
  .img{
    object-fit: contain;
    width: 12rem;
    height: 16rem;
  }
}

.overview{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  color: #fbfbfb;
}

.textInfo{
  align-self: flex-start;
  text-align: left;
  padding: 0 8px;
  margin-right: 12px;
  margin-top: 2.5rem;
}

.arrowIcon{
  margin: 0 8px;
  img{
    width: 3rem;
  }
}

//頁面
.card {
  &.main {
    h4 {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-top: 4px;
    }
    &.list{
      width: 50%;
    }
    @media screen and(min-width: 768px) {
      &.list{
        width: 33.333333333%;
      }
    }
  }
}

.card{
  &.today{
    width: 70%;
    min-height: 0;
    display: flex;
    flex-flow: column-reverse wrap;
    align-items: flex-start;
    margin-left: 8px;
  }
}

.card{
  &.search{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    // justify-content: space-between;
    // border: 1px solid #fff;
    // margin: 8px 0;
  }
}


//movieinfo
// .poster{
//   background-color: #eee;
// }
.infoCon{
  padding: 0 1rem;
  text-align: left;
  padding-top: 10rem;
  .original_title{
    color: #d1d1d1;
    text-shadow: 0.1rem 0.1rem 0.2rem rgba(0,0,0,.8);
  }
  .title{
    font-size: 1.8rem;
    text-shadow: 0.1rem 0.1rem 0.2rem rgba(0,0,0,.8);
  }
  .mainTitle{
    margin-left: 0;
  }
  .detail{
    display: flex;
    p{
      margin-right: 1rem;
    }
    span{
      margin-right: 8px;
    }
  }
  .tagline{
    font-style: italic;
  }
}
